In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split

In [12]:
df = pd.read_csv("multilinear_regression_large_data.csv")

In [19]:
df.head(3)

   Age  Years of Experience  Salary ($1000s)
0   50                    1               73
1   36                   14               97
2   29                    3               58