In [75]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from  sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression , LogisticRegression

In [76]:
df = pd.read_csv("polynomial_classification_dataset.csv")

In [77]:
df.head(3)

         X1        X2  Class
0 -2.509198 -6.297341      0
1  9.014286  0.838019      0
2  4.639879  7.458917      1

In [78]:
x = df.iloc[:,:-1]
y = df["Class"]

In [79]:
from sklearn.preprocessing import PolynomialFeatures\

In [80]:
pf = PolynomialFeatures(degree=3)
pf.fit(x)
x= pd.DataFrame(pf.transform(x))

In [81]:
x.shape

(1000, 10)

In [82]:
x

,0,1,2,3,4,5,6,7,8,9
0,1.0,-2.509198,-6.297341,6.296073,15.801274,39.656509,-15.798091,-39.648519,-99.506018,-249.730577
1,1.0,9.014286,0.838019,81.257354,7.554143,0.702276,732.477043,68.095203,6.330515,0.588520
2,1.0,4.639879,7.458917,21.528476,34.608470,55.635439,99.889518,160.579107,258.141694,414.980103
3,1.0,1.973170,4.644498,3.893399,9.164382,21.571359,7.682336,18.082881,42.563952,100.188129
4,1.0,-6.879627,6.131223,47.329270,-42.180528,37.591895,-325.607735,290.186309,-258.618223,230.484289
...,...,...,...,...,...,...,...,...,...,...
995,1.0,-8.168359,3.139103,66.722081,-25.641320,9.853968,-545.009881,209.447493,-80.490747,30.932623
996,1.0,8.346272,9.132292,69.660248,76.220592,83.398765,581.403344,636.157756,696.068735,761.621908
997,1.0,-7.263627,-8.620840,52.760283,62.618567,74.318877,-383.231034,-454.837939,-539.824628,-640.691120
998,1.0,9.004747,-8.858906,81.085470,-79.772204,78.480208,730.154148,-718.328522,706.694424,-695.248753
999,1.0,-1.079885,-4.356259,1.166151,4.704256,18.976988,-1.259308,-5.080054,-20.492956,-82.668666

In [83]:
x_test, x_train, y_test , y_train = train_test_split(x,y,test_size=0.2 , random_state=42)

In [84]:
lr = LogisticRegression()
lr.fit(x_train,y_train)
lr.score(x_test,y_test)*100

c:\Users\HP\healthcare\noman\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

98.5

In [87]:
lr.predict([[23, 34 ,34,34, 34,34, 34, 34, 34, 34,]])

array([0], dtype=int64)